// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.img {
    height: 200px;
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}
.c-head {
    font-size: 30px;
    text-align: center;
}
.c-name {
    padding-bottom: 4px;
    border-bottom: 2px solid white;
}
.d-ib {
    display: inline-block;
}
.home-head {
    font-size: 30px;
}
.home-slide {
    padding: 20px;
    background-color: #212529;
}
.h-img {
    display: inline-block;
    height: 200px;
    width: auto;
    margin-top: 0px;
}
.nav-b {
    border-bottom: solid 2px rgba(100, 100, 100, 0.3);
}
.o-list {
    border: 3px solid black;
    border-radius: 20px;
}