body {
    background-image: url('./img/bg.jpg');
    background-size: cover;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}
header {
    display: inline-block;
    background-color: rgba(25, 25, 112, 0.5);
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.bank {
    width: 48px;
    display: inline;
    float: left;
    margin: 10px;
    margin-left: 20px;
}
.clock {
    display: inline;
    float: left;
    margin: 15px;
}
main {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 70vh;
    border-radius: 20px;
}
.block {
    display: block;
}
/* NAV ------------------------------------------------------------------------------------*/
.menu {
    display: inline;
    float: right;
}
.menu-link {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 0.5em 0.75em;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}
.menu-link:hover {
    margin: 5px;
    font-size: 17px;
    padding: 0.55em 0.8em;
    border: 2px solid black;
    color: black;
    background-color: white;
}
/* Footeris ------------------------------------------------------------------------------------*/
footer {
    width: 100%;
    height: 18vh;
    background-color: rgba(25, 25, 112, 0.5);
}
.div1 {
    height: 17vh;
    width: 60vh;
    margin: 5px;
    display: inline;
    float: left;
    border-right: 2px solid white;
}
.div2 {
    height: 17vh;
    width: 60vh;
    margin: 5px;
    display: inline;
    float: right;
    border-left: 2px solid white;
}
.h-citata {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}
.citata {
    font-size: 20px;
    text-align: center;
    color: white;
}
/* New saskaita ------------------------------------------------------------------------------------*/
.skurimas {
    text-align: center;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    border-bottom: 2px solid white;
}
.msk {
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    border-radius: 20px;
}
.form-holder1 {
    display: grid;
    align-items: center;
    justify-content: center;
}
.form {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.label1 {
    margin-left: 3px;
    font-size: 20px;
    color: midnightblue;
    border-top: 2px solid white;
}
.input1 {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 18px;
    line-height: 2em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
.btn1 {
    background-color: rgba(25, 25, 112, 0.51);
    margin: 10px;
    padding: 0.5em 0.75em;
    border: 3px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}
.btn1:hover {
    font-size: 16px;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
    cursor: pointer;
}
/* Saskaitos ------------------------------------------------------------------------------------*/
.nera {
    color: white;
    text-decoration: underline;
    font-size: 35px;
    margin: 30px;
    padding: 5px;
    border: 2px solid midnightblue;
    background-color: rgba(25, 25, 112, 0.5);
    border-radius: 5px;
    text-align: center;
}
.nera-p {
    color: midnightblue;
    font-size: 23px;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 10px;
}
.nera-a {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.list {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid midnightblue;
    border-radius: 5px;
    background-color: rgba(25, 25, 112, 0.5);
    min-height: calc(70vh - 170px);
    width: fit-content;
}
.list-item {
    display: inline-block;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    width: 320px;
}
.list-name {
    font-size: 20px;
    text-transform: uppercase;
}
.list-iban {
    font-size: 15px;
}
.list-suma {
    background-color: white;
    display: inline;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    text-align: right;
}
.btn-list {
    display: block;
    width: 300px;
    align-self: center;
    line-height: 2em;
    background-color: rgba(255, 255, 255, 0.498);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
    border: 3px solid midnightblue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-list:hover {
    background-color: white;
}
.list-istrinta {
    padding: 15px;
    background-color: rgba(187, 0, 37, 0.318);
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
}
