body {
    background-color: white;
    margin: 0;
}
header {
    display: inline-block;
    background-color: midnightblue;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.bank {
    width: 48px;
    display: inline;
    float: left;
    margin: 10px;
}
main {
    margin: 20px;
}

/* NAV */
.menu {
    display: inline;
    float: right;
}
.menu-link {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 0.5em 0.75em;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.menu-link:hover {
    margin: 5px;
    font-size: 17px;
    padding: 0.55em 0.8em;
    border: 2px solid black;
    color: black;
    background-color: white;
}
